@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  margin-top: 6px;
  padding: 10px 14px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  /* should of used flex here */
  list-style-type: none;
  margin: 12px;
  padding: 0px; 
}

li {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

a:any-link {
  text-decoration: none;
  color: grey;
}


.header, .footer {
  display: flex; 
  justify-content: space-between;
  padding: 5px;
}

.footer {
  align-content: flex-end;
  background: #eee;
}


.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}